// Text stile
//

.text {
  &-primary {
    // via bs
  }
  &-lighter {
    color: $pflegebraun;
  }
}

// align
div.align,
p.align,
.align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}


  // Block stile
//

@mixin blockstile {
  background: map_get($theme-colors, 'primary');
  color: white;
  //font-weight: bold;
  padding: $spacer/4 $spacer/2;
}


.block {

  // Blockstil 1
  &-1 {
    @include blockstile;
    font-size: 2rem;
  }

  // Blockstil 2
  &-2 {
    @include blockstile;
  }
}
