// Header
//

$header-fsize: 1.2142857143 * $font-size-base; // 17px

header.container {
  font-size: $header-fsize;

  padding: $grid-gutter-width/3 $grid-gutter-width/2;

  // Layout via grid

  display: grid;
  grid-template-columns: 288px 1fr 1fr;
  grid-template-rows: auto auto auto;
  //grid-column-gap: 15px;
  grid-row-gap: $grid-gutter-width / 2;
  justify-items: stretch;
  align-items: stretch;

  @include media-breakpoint-up(md) {
	grid-template-rows: 88px 1fr;
	grid-row-gap: 0;
  }

  .logo {
	grid-area: logo;
	justify-content: center;
	display: flex;
	align-items: center;

	svg, img {
	  width: 100%;
	  max-width: 100%;
	  height: auto;
	}

	@include media-breakpoint-up(md) {
	  justify-content: flex-start;
	}
  }
  .metaNavi {
	grid-area: metanav;
  }

  .socials {
	grid-area: socials;
  }
}

// Metanavi
//

.metaNavi {
  @include naviLinks;

  ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;

	li {
	  margin-left: $grid-gutter-width/2;
	  font-size: $font-size-base;
	}
  }

  @include media-breakpoint-up(md) {
	ul {
	  //justify-content: space-around;
	  li {
		font-size: $font-size-base * 1.1333333333; // 17px
		margin-left: $grid-gutter-width*2;
	  }
	}
  }
}

// socials
//

.socials {
  @include naviLinks($nav-color);

  display: flex;
  justify-content: space-around;

  a {
	font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
	a {
	  margin-left: $grid-gutter-width/2;
	}
  }
}

// IE Fix
// no template areas

header.container {

  .logo {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
  }
  .metaNavi {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
  }

  .socials {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
  }

  @include media-breakpoint-up(md) {
	grid-row-gap: 0;

	.logo {
	  grid-column-start: 1;
	  grid-column-end: 2;
	  grid-row-start: 1;
	  grid-row-end: 3;
	}
	.metaNavi {
	  grid-column-start: 2;
	  grid-column-end: 4;
	  grid-row-start: 1;
	  grid-row-end: 2;
	}

	.socials {
	  grid-column-start: 3;
	  grid-column-end: 4;
	  grid-row-start: 2;
	  grid-row-end: 3;
	}
  }
}
