<b>Eingestellte Abstände:</b>
<table class="table">
    <tr>
        <th>xs</th>
        <th>sm</th>
        <th>md</th>
        <th>lg</th>
        <th>xl</th>
    </tr>
    <tr>
        <td>{f:if(condition: '{data.tx_mask_spacer_height_xs}', then: '{data.tx_mask_spacer_height_xs}', else: '0')} px</td>
        <td>{f:if(condition: '{data.tx_mask_spacer_height_sm}', then: '{data.tx_mask_spacer_height_sm}', else: '0')} px</td>
        <td>{f:if(condition: '{data.tx_mask_spacer_height_md}', then: '{data.tx_mask_spacer_height_md}', else: '0')} px</td>
        <td>{f:if(condition: '{data.tx_mask_spacer_height_lg}', then: '{data.tx_mask_spacer_height_lg}', else: '0')} px</td>
        <td>{f:if(condition: '{data.tx_mask_spacer_height_xl}', then: '{data.tx_mask_spacer_height_xl}', else: '0')} px</td>
    </tr>
</table>
