<f:render partial="Navigation/Mobile" arguments="{_all}"></f:render>

<div class="wrapper">
	<header class="container">
		<f:render partial="Logo" arguments="{_all}"></f:render>

		<f:render partial="Navigation/Meta"></f:render>


		<f:render partial="Navigation/Socials"></f:render>

	</header>

	<div class="container">

		<f:render partial="Navigation/Main" arguments="{_all}"></f:render>

	</div>


	<div class="container">

		<f:render section="stage"></f:render>

		<f:render partial="Navigation/Breadcrumb"></f:render>

		<f:render section="main"></f:render>

	</div>

	<footer class="container">
		<f:render partial="Footer"></f:render>

	</footer>
</div>
