<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->


<f:render partial="Navigation/Mobile" arguments="{_all}"></f:render>

<div class="wrapper">
	<header class="container">
		<f:render partial="Logo"></f:render>

		<f:render partial="Navigation/Meta"></f:render>


		<f:render partial="Navigation/Socials"></f:render>

	</header>

	<div class="container">

		<f:render partial="Navigation/Main"></f:render>

	</div>


	<div class="container">

		<f:render section="stage"></f:render>

		<f:render partial="Navigation/Breadcrumb"></f:render>

		<f:render section="main"></f:render>

	</div>

	<footer class="container">
		<f:render partial="Footer"></f:render>

	</footer>
</div>
