//
// Color system
//

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$pflegeblau: #00c5ff;

$theme-colors: (
  primary: $pflegeblau,
  secondary: $gray-700,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-900
);

$body-color: #444;


// Sizes
//

$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px
);


$h1-font-size: 2rem;
$h2-font-size: 1.375rem;
$h3-font-size: 1.375rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1rem;

$font-size-base: 0.875rem; // 14pxx

// Navi

$mainnav-bg: #F2F1EE;
$mainnav-fsize: 1.2142857143 * $font-size-base; // 17px

$nav-color: $body-color;

// Breadcrumb
// Breadcrumbs

$breadcrumb-bg: white;
$breadcrumb-divider: ">";
//$breadcrumb-divider-color:      $gray-600 !default;
//$breadcrumb-active-color:       $gray-600 !default;
