// Print styles
//

// intro

.wrapper:before {
  display: block;
  content: "Sie haben diese Seite von http://www.mein-pflegeberuf.de ausgedruckt. Dort finden Sie weitere interessante Stellen.";
  margin-bottom: 10px;
  border: 1px solid #bbb;
  padding: 3px 5px;
}


// hide not needed things

.mobile-menu,
.metaNavi,
.socials,
.mainnav,
ol.breadcrumb,
.tx-nursing__aside,
.footer > .row > .col-md-3:not(:first-child)
{
  display: none;
}

.tx-nursing-detail,
.tx-nursing-list {
  display: block !important;
  width: 100%;
  min-width: 100%;
}

img {
  max-width: 500px;
}

// content

p a:after {
  content: " (" attr(href) ")";
  font-size: 80%;
}
p a[href^="#"]:after {
  display: none;
}

p a[href^="http://"]:after, a[href^="https://"]:after {
  content: " (" attr(href) ")";
}

p a {
  word-wrap: break-word;
}


// page

@page :left {
  margin: 0.5cm;
}

@page :right {
  margin: 0.8cm;
}
