{namespace germanjob=Joekolade\Meinpflegeberuf\ViewHelpers}
<f:layout name="Default"></f:layout>

<f:section name="stage">
	<div class="stage">
		<f:cObject typoscriptObjectPath="lib.contentStage"></f:cObject>
	</div>
</f:section>

<f:section name="main">

	<div class="content">

		<f:cObject typoscriptObjectPath="lib.contentMain"></f:cObject>

	</div>

  <f:if condition="{data.tx_mask_showjobschema}">
    <f:format.raw>
      <germanjob:googlejob job="{data.tx_mask_joboffering}"></germanjob:googlejob>
    </f:format.raw>
  </f:if>
</f:section>
